<!DOCTYPE html>
<html>
<head>
    <title> Curation of conflicting architectures. </title>
    <meta charset="utf-8">
    <script type="text/javascript" src="/static/chembl_15/d3/d3.v3.js"></script>
    <script type="text/javascript" src="/static/chembl_15/javascript/canvas.text.js"></script>
    <script type="text/javascript" src="/static/chembl_15/optimer-bold-normal.js"></script>
    <!-- stylesheets. -->
    <link rel="stylesheet" href="/static/chembl_15/css/pfam.css" type="text/    css" />

</head>
    <body>
        <div class="pagination">
            <span class="step-links">
                {% if arch_idx.has_previous %}
                    <a href="?page={{ arch_idx.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ arch_idx.number }} of {{ arch_idx.paginator.num_pages }}.
                </span>
                    {% for idx in arch_idx.paginator.page_range %}
                        <a href="?page= {{ idx }}"> {{ idx }} </a>
                    {% endfor %}
                {% if arch_idx.has_next %}
                    <a href="?page={{ arch_idx.next_page_number }}">next</a>
                {% endif %}
            </span> <br><br>
        </div>

    {% if arch_mols and arch and doms %}
        <h1> Conflicting architecture: {{ arch }}  </h1>
        {% for key, val in arch_mols.items %}
            <h3>Molregno: {{ key }}</h3> 
            {% for act in val.keys %}
            <form action="{% url vote act arch  %}" method="post">{% csrf_token %} activity_id: <a href= "/chembl_15/details/conflicts/{{act}}/ "> {{act}} </a>
                {% for act_m, act_doms in doms.items %}
                    {% if act_m = act %}
                        {% for dom, count in act_doms.items %}
                        <input type='radio' name='choice' id="choice{{forloop.counter}}{{act}}" value="{{ dom }}"/>
                        <label for= "choice{{forloop.counter}}{{act}}"> {{ dom }} </label> ({{ count }} votes) 
                        {% endfor %}
                    {% endif %}
                {% endfor %}  
                <input type="submit" value="Vote" />
                </form>
            {% endfor %}
        {% endfor %}      
    {% else %}
        <p>No index  available.</p>
    {% endif %}


    </body>
</html>
