<!DOCTYPE html>
<html>
<head>
    <title>Evidence for small molecule binding to Pfam domains</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="/static/chembl_15/d3/d3.v3.js"></script>
    <link rel="stylesheet" href="/static/chembl_15/css/pfam.css" type="text/    css" />
    <script type="text/javascript"> 
        var top_acts = {{ top_acts|safe }};
        var top_mols = {{top_mols|safe }};
    </script>

</head>

    <body>
        {% if top_mols and top_acts  %}
       <ul>
           Shown below are measured interactions of the {{ pfam_name }} Pfam-A domain with small molecules. Each point represents a measurement. There is currently a limit of ten on the number of displayed molecules. Thetotal number of activities for this domain type in ChEMBL is {{ n_acts }}. For some Pfam-A domains, such as 7tm_1, there will be many more compounds. 
        </ul>
    {% else %}
        <p>No index  available.</p>
    {% endif %}

    <script type="text/javascript" src="/static/chembl_15/javascript/scatterplot.js"></script>

    </body>
</html>
